.header {
    margin-left: 3rem;
    background-color: white;
    height: 3.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem;
}

.header__links--container {
    margin-right: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__links--container > div {
    padding: 1rem;
}
