.signup__container {
    display: flex;
    justify-content: center;
}

.form__signup {
    display: flex;
    flex-direction: column;
}

.form__signup > div {
    margin-bottom: 1.5rem;
}

input {
    width: 100%;
}