.footer {
    height: 3.5rem;
    background-color: white;
    color: #DCDCDC;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem;
}

.footer__copyright {
    margin-left: 3rem;
}

.footer > div {
    justify-content: space-between;
}

.footer__links--container {
    margin-right: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer__link {
    color: #DCDCDC;
    width: 8vw;
    text-align: center;
}