

.listing__container {
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.listing__container > div {
    padding: 1.5rem;
}

.listing__card {
    margin-bottom: 2.5rem;
    border-radius: 10px;
    border: solid gray 0.5px;
    width: 50vw;
    display: flex;
    flex-direction: row;
}

.listing__description {
    margin-left: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.listing__image {
    border-radius: 10px;
}